doctype html
html(lang='en' class=htmlClass)
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible' content='IE=Edge,chrome=1')
		meta(name='viewport' content='width=device-width, minimum-scale=1.0, maximum-scale=5.0')
		title #{data.title.en}
		meta(name='application-name' content=data.lbl_instaprotek.en)
		meta(name='author' content='{dna:micro}')
		meta(name='description' content=data.meta_description.en)
		meta(name='keywords' content=data.meta_keywords.en)
		meta(name='robots' content=data.meta_robots.en)
		meta(property='og:type' content=data.lbl_instaprotek.en)
		meta(property='og:url' content='https://www.instaprotek.com')
		meta(property='og:title' content=data.lbl_instaprotek.en)
		meta(property='og:image' content='https://acdn.dnamicro.net/instaprotek/instaprotek_logo.png' alt='Instaprotek logo')
		meta(property='og:description' content=data.meta_description.en)
		meta(property='og:site_name' content=data.lbl_instaprotek.en)
		meta(property='og:locale' content='en_US')
		link(rel='apple-touch-icon' sizes='57x57' href='/imgs/favicon/apple-icon-57x57.png')
		link(rel='apple-touch-icon' sizes='60x60' href='/imgs/favicon/apple-icon-60x60.png')
		link(rel='apple-touch-icon' sizes='72x72' href='/imgs/favicon/apple-icon-72x72.png')
		link(rel='apple-touch-icon' sizes='76x76' href='/imgs/favicon/apple-icon-76x76.png')
		link(rel='apple-touch-icon' sizes='114x114' href='/imgs/favicon/apple-icon-114x114.png')
		link(rel='apple-touch-icon' sizes='120x120' href='/imgs/favicon/apple-icon-120x120.png')
		link(rel='apple-touch-icon' sizes='144x144' href='/imgs/favicon/apple-icon-144x144.png')
		link(rel='apple-touch-icon' sizes='152x152' href='/imgs/favicon/apple-icon-152x152.png')
		link(rel='apple-touch-icon' sizes='180x180' href='/imgs/favicon/apple-icon-180x180.png')
		link(rel='icon' type='image/png' sizes='192x192' href='/imgs/favicon/android-icon-192x192.png')
		link(rel='icon' type='image/png' sizes='32x32' href='/imgs/favicon/favicon-32x32.png')
		link(rel='icon' type='image/png' sizes='96x96' href='/imgs/favicon/favicon-96x96.png')
		link(rel='icon' type='image/png' sizes='16x16' href='/imgs/favicon/favicon-16x16.png')
		link(rel='manifest' href='/manifest.json')
		meta(name='msapplication-TileColor' content='#2896EB')
		meta(name='msapplication-TileImage' content='/imgs/favicon/ms-icon-144x144.png')
		meta(name='theme-color' content='#2896EB')
		link(rel='stylesheet' href='css/preloader.css')
		link(rel='stylesheet' href='js/video-js-7.5.4/video-js.min.css')
		//- script(type="text/javascript").
		//- 	var userAgent = window.navigator.userAgent
		//- 	var isIos =/iPhone|iPad|iPod/i.test(userAgent)
		//- 	var isAndoid = /Android/i.test(userAgent)
		//- 	var isMobile = isIos || isAndoid
		//- 	if (!isMobile) {
		//- 	document.location = "https://instaprotek.com/reset-password-download"
		//- 	} else {
		//- 	document.location = "instaprotek://reset-password" + window.location.search
		//- 	setTimeout(function() {
		//- 	if (isIos) {
		//- 	document.location = "https://apps.apple.com/us/app/instaprotek/id1456989327"
		//- 	} else if (isAndoid) {
		//- 	document.location = "https://play.google.com/store/apps/details?id=com.instaprotek.app&hl=en"
		//- 	}
		//- 	}, 250)
		//- 	}
		script(type='text/javascript').
			navigator
			document.location = "instaprotek://"
			let st = setTimeout(function() {
			var ua = window.navigator.userAgent
			var isMobile = {
			android: function() {
			return /Android/i.test(ua)
			},
			ios: function() {
			return /iPhone|iPad|iPod/i.test(ua)
			}
			};
			let url = "https://www.instaprotek.com"
			if (isMobile.ios() ) {
			url = "https://apps.apple.com/us/app/instaprotek/id1456989327"
			} else if (isMobile.android()) {
			url = "https://play.google.com/store/apps/details?id=com.instaprotek.app&hl=en"
			}
			document.location = url
			}, 60000)
			document.addEventListener("visibilitychange", function() {
			clearTimeout(st)
			})
