extends layoutterms

block content
    .section.section__documenthero
      .section--wrapper
        .bgimage.antimoderate.antimoderate-bg(data-hdsrc='/img/getstarted_bg.webp' alt='Instaprotek Background', data-antimoderate-scale='1', data-ldsrc='/img/getstarted_bg_alt.webp', classnames='bgimage')

    .section__group.section__group--offset.bg--darkgray

      section.section.section__documents
        .section--wrapper
          .row
            .col.s12.m12
              .step__doc.anim(data-anim='fadeInDown', data-delay='0s', data-duration='1s')
                h1.step__doc__label #{data.lbl_terms_and_condition.fr}
                .step__doc__content
                  h3.main-title #{data.lbl_limited_product_guarantee.fr}
                  p !{data.lbl_LIQUIPEL_PROTECTION_LLC.fr}

                  //- 1. Program Overview.
                  p !{data.lbl_program_overview_new.fr}
                  p !{data.lbl_your_authentic.fr}
                  p.padd-left !{data.lbl_eligibility.fr}
                  p.padd-left !{data.lbl_registration_new.fr}
                  p.padd-left !{data.lbl_how_to_file_a_claim.fr}

                  //- 2. Device Protection Limited Guarantee.
                  p !{data.lbl_device_protection_guarantee.fr}
                  p !{data.lbl_whats_covered.fr}
                  p !{data.lbl_whats_excluded.fr}
                  p !{data.lbl_your_eligible_device.fr}

                  //- 3. Eligibility Requirements.
                  p !{data.lbl_eligibility_requirements_new.fr}
                  p.padd-left !{data.lbl_program_eligibility_is_conditioned_new.fr}
                  p.padd-left2 !{data.lbl_you_must_be_an_individual_consumer.fr}
                  p.padd-left2 !{data.lbl_you_must_be_a_valid_resident.fr}
                  p.padd-left2 !{data.lbl_you_must_have_purchased.fr}
                  p.padd-left2 !{data.lbl_you_must_have_validly_registered.fr}
                  p.padd-left2 !{data.lbl_you_must_submit_a_claim_new.fr}
                  p.padd-left2 !{data.lbl_the_eligible_device.fr}

                  //- 4 Registration Process.
                  p !{data.lbl_registration_process_new.fr}
                  p !{data.lbl_as_part_of_the_eligibility_requirements_new.fr}
                  p.padd-left !{data.lbl_within_the_registration_period_new.fr}
                  p.padd-left !{data.lbl_using_your_eligible_device.fr}
                  p.padd-left2 !{data.lbl_your_original_dated_proof.fr}
                  p.padd-left2 !{data.lbl_the_imei_number_for_the_eligible_device.fr}
                  p.padd-left2 !{data.lbl_any_pertinent_personal_information_new.fr}
                  p.padd-left2 !{data.lbl_for_a_complete_description_of_how.fr}

                  p.padd-left !{data.lbl_you_must_successfully_pass.fr}
                  p.padd-left !{data.lbl_after_successfully_completing.fr}
                  p.padd-left !{data.lbl_once_you_are_registered_new.fr}

                  //- 5 Claim Submissions.
                  p !{data.lbl_claim_submissions.fr}
                  p !{data.lbl_submit_a_Claim_as_follows.fr}
                  p.padd-left !{data.lbl_initiate_a_claim_through.fr}
                  p.padd-left !{data.lbl_your_claim_must_be_verified_new.fr}

                  p.padd-left2 !{data.lbl_name_of_person_submitting_claim.fr}
                  p.padd-left2 !{data.lbl_the_SIMPLE_product_was_registered.fr}
                  p.padd-left2 !{data.lbl_all_required_information.fr}
                  p.padd-left2 !{data.lbl_the_SIMPLE_product_is_authentic.fr}
                  p.padd-left2 !{data.lbl_your_device_is_an_eligible_device.fr}

                  p.padd-left !{data.lbl_you_will_be_required_to_submit.fr}
                  p.padd-left !{data.lbl_if_your_claim_passes_the_verification_process_new.fr}
                  p.padd-left !{data.lbl_you_will_have_thirty.fr}

                  p.padd-left2 !{data.lbl_repair_provider_name.fr}
                  p.padd-left2 !{data.lbl_repair_provider_phone_number.fr}
                  p.padd-left2 !{data.lbl_make_model_of_device_repaired.fr}
                  p.padd-left2 !{data.lbl_imei_SIMPLE.fr}
                  p.padd-left2 !{data.lbl_type_of_repair_screen_SIMPLE.fr}
                  p.padd-left2 !{data.lbl_total_cost_of_repair_SIMPLE.fr}
                  p.padd-left2 !{data.lbl_date_of_repair_after_claim_filed_SIMPLE.fr}

                  p.padd-left2 !{data.lbl_you_will_be_reimbursed.fr}
                  p.padd-left !{data.lbl_once_the_Claim_has_been_completed.fr}

                  //- 6 Additional Terms and Conditions.
                  p !{data.lbl_additional_terms_and_conditions_new.fr}
                  p.padd-left !{data.lbl_repairs_by_a_third_party_new.fr}
                  p.padd-left !{data.lbl_program_modifications_new.fr}
                  p.padd-left !{data.lbl_WARRANTY_DISCLAIMERS.fr}
                  p.padd-left !{data.lbl_LIMITATION_OF_LIABILITY.fr}
                  p.padd-left !{data.lbl_ARBITRATION.fr}
                  p.padd-left !{data.lbl_savings_clause.fr}
                  p.padd-left !{data.lbl_repairs.fr}
                  
                  //- otterbox 
                  h3.title #{data.lbl_otterbox_protection_program.fr}
                  h3(style='text-align: center;') #{data.lbl_eligible_device_mobile_phones.fr}
                    br
                    | #{data.lbl_product_tempered_glass.fr} 
                  p !{data.lbl_program_eligibility.fr}
                  p !{data.lbl_otter_products_llc.fr}

                  p !{data.lbl_program_overview.fr}
                  p !{data.lbl_if_you_purchase_an_otterBox_branded.fr}

                  p !{data.lbl_device_protection_limited_guarantee.fr}
                  p !{data.lbl_the_limited_guarantee_is_limited_eligible_device.fr}
                  p #{data.lbl_the_limited_guarantee_does_not_cover_any_loss_or_theft.fr}

                  p !{data.lbl_eligibility_requirements.fr}
                  p !{data.lbl_program_eligibility_is_conditioned.fr}

                  p.padd-left 
                    | !{data.lbl_you_must_be_a_valid_resident_of_the_continental.fr}
                  p.padd-left 
                    | !{data.lbl_you_must_have_purchased_the_otterbox_product.fr}
                  p.padd-left 
                    | !{data.lbl_you_must_have_validly_registered_the_otterbox_product.fr}
                  p.padd-left 
                    | !{data.lbl_you_must_submit_a_claim.fr}
                  p.padd-left 
                    | !{data.lbl_the_eligible_device_must_be_activated_and_undamaged.fr}
                  //- 5. registration process 
                  p !{data.lbl_registration_process.fr}
                  p #{data.lbl_as_part_of_the_eligibility_requirements.fr}
                  p.padd-left
                    | !{data.lbl_within_the_registration_period.fr}
                  p.padd-left 
                    | !{data.lbl_register_the_otterbox_product.fr}
                  p.padd-left2 !{data.lbl_your_original_receipt_for_your_otter_box_product_purchase.fr}
                  p.padd-left2 !{data.lbl_the_imei_number_for_the_eligible_device.fr}
                  p.padd-left2 !{data.lbl_any_pertinent_personal_information.fr}
                  p.padd-left2 !{data.lbl_for_a_complete_description_of_how_otterbox.fr}

                  p.padd-left 
                    | !{data.lbl_after_successfully_completing_each_of_the_registration.fr}
                  p.padd-left 
                    | !{data.lbl_once_you_are_registered.fr}
                  //- 6. claim 
                  p !{data.lbl_claim.fr}
                  p !{data.lbl_you_are_responsible_to_use_the_otter_box_product_properly.fr}
                  p.padd-left !{data.lbl_initiate_a_claim_through_the_registration_app.fr}
                  p.padd-left !{data.lbl_your_claim_must_be_verified.fr}
                  //- 6.2 a
                  p.padd-left2 !{data.lbl_name_of_person_submitting_claim_matches.fr}
                  p.padd-left2 !{data.lbl_the_otter_box_product_was_registered_within.fr}
                  p.padd-left2 !{data.lbl_all_required_information_was_submitted.fr}
                  p.padd-left2 !{data.lbl_the_otter_box_product_is_authentic.fr}
                  p.padd-left2 !{data.lbl_the_date_on_the_image_of_the_about_page_during_the_registration_process.fr}  
                  p.padd-left2 !{data.lbl_your_device_is_an_eligible_device_and_the_damage_to_your_eligible_device.fr}
                  //- 6.3
                  p.padd-left !{data.lbl_if_your_claim_passes_the_verification_process.fr}
                  p.padd-left2 !{data.lbl_repair_store_name.fr}
                  p.padd-left2 !{data.lbl_phone_number_of_repair_place.fr}
                  p.padd-left2 !{data.lbl_make_model_of_device.fr}
                  p.padd-left2 !{data.lbl_imei.fr}
                  p.padd-left2 !{data.lbl_type_of_repair_screen.fr}
                  p.padd-left2 !{data.lbl_total_cost_of_repair.fr}
                  p.padd-left2 !{data.lbl_date_of_repair_after_claim_filed.fr}
                  p.padd-left2 !{data.lbl_you_will_be_reimbursed_based_on_the_amount.fr}

                  //- 6.4. claim 
                  p.padd-left !{data.lbl_once_the_claim_has_been_completed.fr}
                  //- 7
                  p !{data.lbl_additional_terms_and_conditions.fr}
                  p.padd-left !{data.lbl_repairs_by_a_third_party.fr}
                  p.padd-left !{data.lbl_program_modifications.fr}
                  p.padd-left !{data.lbl_warranty_disclaimers.fr}
                  p.padd-left !{data.lbl_limitation_of_liability.fr}
                  p.padd-left !{data.lbl_arbitration.fr}

                  h3.title #{data.lbl_case_guarantee.fr}
                  h3(style='text-align: center;') #{data.lbl_eligible_device_mobile.fr}
                    br
                    | #{data.lbl_product_protection_case.fr}
                  p !{data.lbl_this_limited_device_protection_guarantees.fr}
                  p !{data.lbl_register_your_device_protection_after.fr}
                  p !{data.lbl_if_you_successfully_complete_all.fr}
                  p !{data.lbl_device_protection_coverage.fr}
                  p !{data.lbl_claim_process_you_are_responsible_to_ensure.fr}
                  p !{data.lbl_if_you_do_so_and_accidental_physical.fr}
                  p !{data.lbl_a_claim_can_be_denied_if_the_product_cannot_be_repaired_and_must_be_replaced.fr}


                  h3.title #{data.lbl_CLG_camera_lens_guarantee.fr}
                  h3(style='text-align: center;') #{data.lbl_CLG_eligible_device_mobile_phones.fr}
                    br
                    | #{data.lbl_CLG_product_tempered_glass_protection.fr}
                  p !{data.lbl_CLG_this_limited_device_protection.fr}
                  p !{data.lbl_CLG_register_your_device_protection_after.fr}
                  p !{data.lbl_CLG_if_you_successfully_complete_all_of_the_registration_steps.fr}
                  p !{data.lbl_CLG_camera_protection_coverage.fr}
                  p !{data.lbl_CLG_claim_process.fr}
                  p !{data.lbl_CLG_if_you_do_so_and_accidental_physical_damage.fr}
                  p !{data.lbl_CLG_a_claim_can_be_denied.fr}
                

                  h3.title #{data.lbl_warranty_replacement.fr}
                  h3(style='text-align: center;') #{data.lbl_eligible_device.fr}
                    br
                    | #{data.lbl_product_protection_case_accessories.fr}
                  p !{data.lbl_the_coverage.fr}
                  p !{data.lbl_one_year_limited_warranty.fr}
                  p !{data.lbl_two_year_limited_warranty.fr}
                  p !{data.lbl_register_your_product.fr}
                  p !{data.lbl_claim_process_you_are.fr}
                    li !{data.lbl_complete_the_warranty.fr}
                    li !{data.lbl_allow_business.fr}
                    li !{data.lbl_please_note_each_claim.fr}
                    li !{data.lbl_the_product_being.fr}
                    li !{data.lbl_replacement_product_is_for_personal_use.fr}

                    //- p #{data.lbl_once_the_service_request_has_been_completed.fr}

                  p
                    |
                    span.text--capitalized !{data.lbl_legal_rights_notice.fr}
                    br
                    | #{data.lbl_this_limited_device_protection_sets_out_the_full_extent_of_our_responsibilities.fr}
                  p
                    |
                    span.text--capitalized !{data.lbl_please_note.fr}
                    br
                    | #{data.lbl_some_devices_may_not_be_qualified.fr}
                    br
                    | #{data.lbl_our_service_center_shall_have_no_responsibility.fr}
                  p
                    |
                    span.text--capitalized #{data.lbl_instaprotek_reserve_the_right_to_modify_the_processes.fr}

              .step__footer
                a.backtop.btn-floating.btn-large.waves-effect.waves-light.red(href='#backtotop')
                  i.material-icons keyboard_arrow_up