extends layoutfaq

block content
    .section.section__documenthero
      .section--wrapper
        .bgimage.antimoderate.antimoderate-bg(data-hdsrc='/img/getstarted_bg.webp' alt='Instaprotek Background', data-antimoderate-scale='1', data-ldsrc='/img/getstarted_bg_alt.webp', classnames='bgimage')

    .section__group.section__group--offset.bg--darkgray

      section.section.section__documents
        .section--wrapper
          .row
            .col.s12.m12
              .step__doc.anim(data-anim='fadeInDown', data-delay='0s', data-duration='1s')
                h1.step__doc__label #{title}
                .step__doc__form
                  .faq
                    .faq__search
                      .faq__search__wrapper
                        .faq__search__icon
                          i.material-icons search
                        .faq__search__field
                          input.faq__search__input(type='text', placeholder=data.txt_search.ja)
                        a.faq__search__clear(href='#clear')
                          i.material-icons clear
                    .faq__title
                      p よくある質問
                    .faq__page
                      .emptyLabel #{data.err_txt_sorry_no_result_found.ja}
                        |
                        a.noresultsfoundclear(href='#clear') #{data.err_txt_click_here_to_clear.ja}
                      .faq__group
                        h3.faq__group__title #{data.lbl_top_faqs.ja}
                        ol.faq__list
                          li.faq__list__item
                            a.faq__list__item--question(href='#faq') #{data.lbl_how_do_i_register_my_device.ja}
                            .faq__list__item--answer
                              p #{data.lbl_download_our_app_app_store_google_playstore.ja}
                              a.faq__store__link(href='https://apps.apple.com/us/app/instaprotek/id1456989327', target='_blank', title='Download on the Apple Store')
                                img(src='/img/download_app_store_ja.webp' alt='Apple brand logo')
                              a.faq__store__link(href='https://play.google.com/store/apps/details?id=com.instaprotek.app&hl=en_US', target='_blank', title='Get it on Google Play') 
                                img(src='/img/download_google_play_ja.webp' alt='Google play logo')

                          //- li.faq__list__item
                          //-   a.faq__list__item--question(href='#faq') #{data.lbl_what_is_the_step_by_step_process.ja} 
                          //-   .faq__list__item--answer
                          //-     p #{data.lbl_registration_is_easy_on_the_app.ja}
                          //-     .faq__video
                          //-       p.video_header #{data.lbl_android.ja}
                          //-       video(id='my-video', class='video-js', controls, preload='auto', data-setup='{"aspectRatio":"16:9"}', poster="https://acdn.dnamicro.net/instaprotek/android_poster_registration_jpn.png")
                          //-         source(src="https://acdn.dnamicro.net/instaprotek/registration_jpn.mp4", type='video/mp4')
                          //-         p(class='vjs-no-js') To view this video please enable JavaScript, and consider upgrading to a web browser that
                          //-     .faq__video
                          //-       p.video_header #{data.lbl_ios.ja}
                          //-       video(id='my-video', class='video-js', controls, preload='auto', data-setup='{"aspectRatio":"16:9"}', poster="https://acdn.dnamicro.net/instaprotek/iOS_poster_registration_jpn.png")
                          //-         source(src="https://acdn.dnamicro.net/instaprotek/registration_iOS_jpn.mp4", type='video/mp4')
                          //-         p(class='vjs-no-js') To view this video please enable JavaScript, and consider upgrading to a web browser that
                          li.faq__list__item
                            a.faq__list__item--question(href='#faq') #{data.lbl_how_long_does_my_limited_warranty_last.ja}
                            .faq__list__item--answer
                              p #{data.lbl_it_last_for_1_year_from_date_purchase.ja}

                          li.faq__list__item
                            a.faq__list__item--question(href='#faq') #{data.lbl_how_can_i_file_a_claim.ja}
                            .faq__list__item--answer
                              p !{data.lbl_you_can_easily_file_a_claim_using_the_app.ja}
                              //- .faq__video
                              //-   p.video_header #{data.lbl_android.ja}
                              //-   video(id='my-video', class='video-js', controls, preload='auto', data-setup='{"aspectRatio":"16:9"}', poster="https://acdn.dnamicro.net/instaprotek/jpn_claim_video_poster.png")
                              //-     source(src="https://acdn.dnamicro.net/instaprotek/claim_process_android_ja.mp4", type='video/mp4')
                              //-     p(class='vjs-no-js') To view this video please enable JavaScript, and consider upgrading to a web browser that
                              //- .faq__video
                              //-   p.video_header #{data.lbl_ios.ja}
                              //-   video(id='my-video', class='video-js', controls, preload='auto', data-setup='{"aspectRatio":"16:9"}', poster="https://acdn.dnamicro.net/instaprotek/jpn_claim_video_poster.png")
                              //-     source(src="https://acdn.dnamicro.net/instaprotek/claim_process_iOS_ja.mp4", type='video/mp4')
                              //-     p(class='vjs-no-js') To view this video please enable JavaScript, and consider upgrading to a web browser that
                          li.faq__list__item
                            a.faq__list__item--question(href='#faq') #{data.lbl_what_device_are_not_covered.ja}
                            .faq__list__item--answer
                              ul
                                //- li Samsung Galaxy Fold
                                //- li Samsung Galaxy Z Fold
                                //- li Samsung Galaxy Z Fold 2 
                                //- li Samsung Galaxy Z Fold 2 5G
                                //- li Samsung Galaxy Z Flip
                                //- li Samsung Galaxy Z Flip 5G
                                li Verizon Gizmo Watch 2
                              p 
                                br
                                | !{data.lbl_note_this_list_will_be_updated_periodically.ja}
                      
                      .faq__group
                        h3.faq__group__title #{data.lbl_warranty_and_replacement.ja}
                        ol.faq__list
                          li.faq__list__item
                            a.faq__list__item--question(href='#faq') #{data.lbl_how_long_does_my_limited_warranty_last.ja}
                            .faq__list__item--answer
                              p #{data.lbl_it_last_for_1_year_from_date_purchase.ja}
                          li.faq__list__item
                            a.faq__list__item--question(href='#faq') #{data.lbl_do_you_cover_the_replacement_of_the_screen.ja}
                            .faq__list__item--answer
                              p #{data.lbl_no_we_only_cover_the_breakage_of_the_screen.ja}
                          li.faq__list__item
                            a.faq__list__item--question(href='#faq') #{data.lbl_how_will_i_know_if_im_eligible_to_file_a_claim.ja}
                            .faq__list__item--answer
                              p #{data.lbl_you_just_need_to_make_sure_you_have_already_registered.ja}
                              p よくある質問「修理保証サービスの登録方法を教えてください。」をご参照ください。

                          

                      .faq__group
                        h3.faq__group__title #{data.lbl_registration.ja}
                        ol.faq__list
                          li.faq__list__item
                            a.faq__list__item--question(href='#faq') #{data.lbl_how_do_i_register_my_device.ja}
                            .faq__list__item--answer
                              p #{data.lbl_download_our_app_app_store_google_playstore.ja}
                              a.faq__store__link(href='https://apps.apple.com/us/app/instaprotek/id1456989327', target='_blank', title='Download on the Apple Store')
                                img(src='/img/download_app_store_ja.webp', alt='Apple brand logo')
                              a.faq__store__link(href='https://play.google.com/store/apps/details?id=com.instaprotek.app&hl=en_US', target='_blank', title='Get it on Google Play') 
                                img(src='/img/download_google_play_ja.webp', alt='Google play logo')
                          //- li.faq__list__item
                          //-   a.faq__list__item--question(href='#faq') #{data.lbl_what_is_the_step_by_step_process.ja} 
                          //-   .faq__list__item--answer
                          //-     p #{data.lbl_registration_is_easy_on_the_app.ja}
                          //-     .faq__video
                          //-       p.video_header #{data.lbl_android.ja}
                          //-       video(id='my-video', class='video-js', controls, preload='auto', data-setup='{"aspectRatio":"16:9"}', poster="https://acdn.dnamicro.net/instaprotek/android_poster_registration_jpn.png")
                          //-         source(src="https://acdn.dnamicro.net/instaprotek/registration_jpn.mp4", type='video/mp4')
                          //-         p(class='vjs-no-js') To view this video please enable JavaScript, and consider upgrading to a web browser that
                          //-     .faq__video
                          //-       p.video_header #{data.lbl_ios.ja}
                          //-       video(id='my-video', class='video-js', controls, preload='auto', data-setup='{"aspectRatio":"16:9"}', poster="https://acdn.dnamicro.net/instaprotek/iOS_poster_registration_jpn.png")
                          //-         source(src="https://acdn.dnamicro.net/instaprotek/registration_iOS_jpn.mp4", type='video/mp4')
                          //-         p(class='vjs-no-js') To view this video please enable JavaScript, and consider upgrading to a web browser that
                          li.faq__list__item
                            a.faq__list__item--question(href='#faq') #{data.lbl_what_is_the_purchase_receipt.ja}
                            .faq__list__item--answer
                              p #{data.lbl_the_purchase_receipt_is_pertaining_to_the_screen.ja}
                          li.faq__list__item
                            a.faq__list__item--question(href='#faq') #{data.lbl_i_am_having_trouble_with_the_app_during_rthe_egistration.ja}
                            .faq__list__item--answer
                              p !{data.lbl_give_us_call_right_away.ja}
                          li.faq__list__item
                            a.faq__list__item--question(href='#faq') #{data.lbl_what_device_are_not_covered.ja}
                            .faq__list__item--answer
                              ul
                                //- li Samsung Galaxy Fold
                                //- li Samsung Galaxy Z Fold
                                //- li Samsung Galaxy Z Fold 2 
                                //- li Samsung Galaxy Z Fold 2 5G
                                //- li Samsung Galaxy Z Flip
                                //- li Samsung Galaxy Z Flip 5G
                                li Verizon Gizmo Watch 2
                              p 
                                br
                                | !{data.lbl_note_this_list_will_be_updated_periodically.ja}

                      .faq__group
                        h3.faq__group__title #{data.lbl_claim_process.ja}
                        ol.faq__list
                          li.faq__list__item
                            a.faq__list__item--question(href='#faq') #{data.lbl_how_can_i_file_a_claim.ja}
                            .faq__list__item--answer
                              p !{data.lbl_you_can_easily_file_a_claim_using_the_app.ja}
                              //- .faq__video
                              //-   p.video_header #{data.lbl_android.ja}
                              //-   video(id='my-video', class='video-js', controls, preload='auto', data-setup='{"aspectRatio":"16:9"}', poster="https://acdn.dnamicro.net/instaprotek/jpn_claim_video_poster.png")
                              //-     source(src="https://acdn.dnamicro.net/instaprotek/claim_process_android_ja.mp4", type='video/mp4')
                              //-     p(class='vjs-no-js') To view this video please enable JavaScript, and consider upgrading to a web browser that
                              //- .faq__video
                              //-   p.video_header #{data.lbl_ios.ja}
                              //-   video(id='my-video', class='video-js', controls, preload='auto', data-setup='{"aspectRatio":"16:9"}', poster="https://acdn.dnamicro.net/instaprotek/jpn_claim_video_poster.png")
                              //-     source(src="https://acdn.dnamicro.net/instaprotek/claim_process_iOS_ja.mp4", type='video/mp4')
                              //-     p(class='vjs-no-js') To view this video please enable JavaScript, and consider upgrading to a web browser that
                          li.faq__list__item
                            a.faq__list__item--question(href='#faq') #{data.lbl_what_is_the_claim_process.ja}
                            .faq__list__item--answer
                              p instaProtekは上限10,000円まで、スクリーンガラスの修理保証サービスをご提供させていただきます。以下のような流れになります。詳細についてはトップページの「ご利用規約」をクリックして「 修理保証サービスのご利用規約について」をお読みください。
                              .sublist
                                .sublist__item スクリーンガラスが割れた旨を、カスタマーサポートセンター<b><0120-000-000></b>にご連絡ください。
                                .sublist__item カスタマーサポートセンターは、お客様のデバイスの状態、修理保証サービスの内容を確認させていただきます。
                                .sublist__item 確認内容に不備がなければ、カスタマーサポートセンターからメールにて修理店舗をご紹介させていただきます。
                                .sublist__item カスタマーサポートセンターからご紹介させていただいた修理店舗にお電話いただき、修理日程をお決めください。修理保証サービスはメール受信日から1ヶ月間のみ有効です。ご注意ください。
                                .sublist__item 修理店舗はお客様のデバイスの状態、修理保証サービスの内容を確認いたします。
                                .sublist__item 修理店舗が修理可能と判断すれば、修理保証サービスをご依頼いただくことが可能です。
                                  .file_claim_bullets
                                    p <b>[ご注意点]</b>
                                      ul.file_ul
                                        li.file_bullets 修理保証サービスは上限10,000円までのスクリーンガラスの修理に限ります。
                                        li.file_bullets 10,001円以上のスクリーンガラスの修理については、お客様ご自身でご負担いただくことになります。修理サービスをご依頼される前に、お客様のご負担額 についてご理解ください。
                                        li.file_bullets その他の修理代については、全額お客様にご負担いただきます。
                                        li.file_bullets デバイスの状態確認の内容は、スクリーン保護商品が正確に貼り付けられているか？(スクリーン保護商品は剥がさずにご来店ください)スクリーンガラスが割れているか？(傷は不可)スクリーンガラスの交換によって修理できるか？(修理できないほど損傷が激しい場合は不可)等です。
                                        li.file_bullets 修理保証サービスの確認内容は、ご登録内容に不備はないか？IMEI/シリアル番号が一致しているか？レシートがあるかどうか？等です。
                                        li.file_bullets その他、詳細についてはトップページの「ご利用規約」をクリックして「修理保証サービスのご利用規約について」をお読みください。
                                    

                          li.faq__list__item
                            a.faq__list__item--question(href='#faq') #{data.lbl_how_much_would_be_my_coverage_amount.ja}
                            .faq__list__item--answer
                              p #{data.lbl_it_depends_on_the_product_you_have_purchased.ja}
                      
                      
                      .faq__group
                        h3.faq__group__title #{data.lbl_troubleshooting.ja}
                        ol.faq__list
                          li.faq__list__item
                            a.faq__list__item--question(href='#faq') #{data.lbl_cant_proceed_with_the_screen_test.ja}
                            .faq__list__item--answer
                              p #{data.lbl_check_if_there_are_unfilled_aread_on_your_screen.ja}
                              p #{data.lbl_if_there_are_slide_your_finger_on_your_phones_screen.ja}
                              .faq__video.vertical_video
                                img.support_gif(src="https://acdn.dnamicro.net/instaprotek/phone_screen_test_jpn.gif", alt="screen test gif version")
                                //- p Android
                                //- video(id='my-video', class='video-js', controls, preload='auto', data-setup='{"aspectRatio":"16:9"}', poster='./imgs/instaprotek_video_poster.jpg')
                                //-   source(src='../videos/instaprotek_How to Screen Swiping.mp4', type='video/mp4')
                                //-   p(class='vjs-no-js') To view this video please enable JavaScript, and consider upgrading to a web browser that
                          li.faq__list__item
                            a.faq__list__item--question(href='#faq') #{data.lbl_cant_proceed_with_the_pin_verification.ja}
                            .faq__list__item--answer
                              p #{data.lbl_check_the_validity_of_your_pin.ja}
                              p !{data.lbl_if_your_pin_is_invalid_or_expired_contact_customer_support.ja}
                          //- li.faq__list__item
                          //-   a.faq__list__item--question(href='#faq') #{data.lbl_if_your_unable_to_install_the_instaprotek_app.ja}
                          //-   .faq__list__item--answer
                          //-     p アンドロイド製品
                          //-     .sublist
                          //-       .sublist__item !{data.lbl_go_to_your_phones_settings.ja}
                          //-       .sublist__item !{data.lbl_tap_apps.ja}
                          //-       .sublist__item !{data.lbl_scroll_down_and_tap.ja}
                          //-       .sublist__item !{data.lbl_storage_and_tap_clear_cache.ja}
                          //-       .sublist__item !{data.lbl_open_google_play_store_again.ja}

                          //-     .faq__video.vertical_video
                          //-       p #{data.lbl_android.ja}
                          //-       video(id='my-video', class='video-js', controls, preload='auto', data-setup='{"aspectRatio":"16:9"}', poster='../imgs/instaprotek_video_poster_jpn.png')
                          //-         source(src="https://acdn.dnamicro.net/instaprotek/clear_cache_jpn.mp4", type='video/mp4')
                          //-         p(class='vjs-no-js') To view this video please enable JavaScript, and consider upgrading to a web browser that


              .step__footer
                a.backtop.btn-floating.btn-large.waves-effect.waves-light.red(href='#backtotop')
                  i.material-icons keyboard_arrow_up